.quote {
  font-family: DarlingtonDemo;
  font-size: 60px;
  font-weight: normal;
  margin: 0 10px;
  color: rgb(255,241,247);
}

.quote_author {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}
