.apod_title {
  font-size: 22px;
  margin: 10px;
}

.apod_info {
  font-style: normal;
}

.apod_info_box {
  border-radius: 0 0 10px 10px;
  background-color: rgba(40, 38, 50, 0.9);
  padding: 10px 0;
}
